@font-face {
  font-family: 'gfont_rubik_regular';
  src: url('../assets/fonts/Rubik/static/Rubik-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'gfont_rubik_medium';
  src: url('../assets/fonts/Rubik/static/Rubik-Medium.ttf');
  font-weight: 500;
}

:root {
  font-family: 'gfont_rubik_regular', sans-serif;
  font-size: 16px;
  line-height: 24px;
  user-select: none;

  color: #0f0f0f;
  background-color: #AEBDCA;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

button {
  font-family: 'gfont_rubik_medium', sans-serif;
  font-size: 24px;
  line-height: 24px;
}

button:hover {
  cursor: pointer;
}


#topbar {
  position: relative;
  top: 0;
  width: 100%;
  height: 7%;
  min-height: 60px;
}

#router_view {
  flex-grow: 1;
  width: 100%;
}

