#container_bottombar {
	height: 100%;
  width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: end;
  z-index: 5;
  pointer-events: none;
}

#container_bar {
  background-color: #b8b7b7;
  border-top: 1px solid black;
  box-sizing: border-box;
  position: relative;
  display: flex;
  pointer-events: all;
}

#container_statusMessages {
  position: relative;
  box-sizing: border-box;
  background-color: white;
  overflow-y: auto;
  flex-grow: 1;
  padding: 10px;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#scrollbar {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
}

#resize_handle {
  width: 100%;
  height: 5px;
  background: #ccc;
  cursor: row-resize;
  position: relative;
  pointer-events: all;
}


#container_buttons {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  margin: 10px;
  pointer-events: all;
}


#container_buttons > button {
  width: max-content;
  border-radius: 10px;
  border-style: none;
  padding: 1rem 1rem 1rem 1rem;
  box-sizing: content-box;
}


#container_buttons > button:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

#container_buttons > button:active {
  transform: scale(0.95);
  transition: 0.05s;
}
