#container_bar{
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #7A8B97;
  border-top: 1px solid black;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

#container_statusMessages {
  flex-grow: 1;
  flex-shrink: 1;
  height: 50px;
  overflow-y: auto;
  background-color: white;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}

#container_buttons_simulation {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

#container_buttons_simulation > button {
  width: max-content;
  border-radius: 10px;
  border-style: none;
  margin-right: 10px;
  box-shadow: 0px 5px 10px #959595;
  padding: 1rem 1rem 1rem 1rem;
  box-sizing: content-box;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}
