#container_elementSidebar {
	width: fit-content;
	box-sizing: border-box;
	position: relative;
	margin: 10px calc(2.5% + 7px) 10px calc(2.5% + 7px);
	padding: 7px 15px 7px 15px;
	background-color: #409342;
	border-radius: 20px;
	color: whitesmoke;
	transition: transform 0.2s ease;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


#container_elementSidebar:hover {
	transform: scale(1.05);
}


#container_elementSidebar:active {
	transform: scale(0.95);
}


@media (max-height: 1000px) {
	#container_elementSidebar {
		font-size: 14px;
		line-height: 17.5px;
	}
}
