
#container {
    flex-grow: 1;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#container_map {
    flex-grow: 1;
    margin: 0 3% 0 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    position: relative;
}



#map {
    mix-blend-mode: multiply;
    height: auto;
}


#sidebar {
    height: 70%;
    width: 150px;
    min-width: 150px;
    margin-left: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



#container_map > button {
  cursor: pointer;
  border: none;
  border-radius: 100%;
  background-color: #4CAF50;
  color: white;
  aspect-ratio: 1;
  transition: 0.1s ease-out;
  transform: translate(-50%, -50%);
}

#container_map > button:hover {
  transform: scale(2) translate(-25%, -25%);
}

#container_map > button:active {
    transform: scale(1) translate(-50%, -50%);
  }

