
#containerMainBody {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-bottom: 100px;
	padding-top: 7%;
}

#container_map {
	display: flex;
	justify-content: center;
	align-items: center;
	height: fit-content;
	width: fit-content;
	position: relative;
}


#wrapper_map {
	flex-grow: 1;
	margin: 0 3% 0 3%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	max-height: 70%;
	position: relative;
	background-color: whitesmoke;
	padding: 4% 1% 4% 1%;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	box-sizing: content-box;
}


#sidebar {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70%;
	max-height: 70%;
	width: 200px;
	min-width: 200px;
	margin-left: 20px;
	box-sizing: border-box;
}



#containerButtons > button {
  cursor: pointer;
  border: none;
  border-radius: 100%;
  background-color: #4CAF50;
  color: white;
  aspect-ratio: 1;
  transition: 0.2s ease-out;
  transform: translate(-50%, -50%);
}

#containerButtons > button:hover {
  transform: scale(2) translate(-25%, -25%);
}

#containerButtons > button:active {
  transform: scale(1) translate(-50%, -50%);
}
