#main_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  overflow: hidden;
}

#container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#container_map {
    flex-grow: 1;
    margin: 0 3% 0 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    position: relative;
}

#container_bottombar {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
}

#map {
    mix-blend-mode: multiply;
    height: auto;
}


#sidebar {
    height: 70%;
    width: 150px;
    min-width: 150px;
    margin-left: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container_buttons {
    height: auto;
    width: auto;
    position: absolute;
    bottom: 136px;
    right: 20px;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}

#container_buttons > button {
    width: max-content;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0px 5px 10px #959595;
    padding: 1rem 1rem 1rem 1rem;
    box-sizing: content-box;
}


#container_buttons > button:hover {
    transform: scale(1.05);
    transition: 0.2s;
    background-color: white;
}

#container_buttons > button:active {
    transform: scale(0.95);
    transition: 0.05s;
}

#container_map > button {
  cursor: pointer;
  border: none;
  border-radius: 100%;
  background-color: #4CAF50;
  color: white;
  aspect-ratio: 1;
  transition: 0.1s ease-out;
  transform: translate(-50%, -50%);
}

#container_map > button:hover {
  transform: scale(2) translate(-25%, -25%);
}

#container_map > button:active {
    transform: scale(1) translate(-50%, -50%);
  }

