
#container_params {
	position: relative;
	width: 60%;
	height: fit-content;
	margin-top: min(250px, 20%);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'gfont_rubik_regular', sans-serif;
	color: #333;
	font-size: 1.2rem;
	text-align: center;
}



#explications > img {
	min-width: 300px;
	width: 30%;
	aspect-ratio: 0.8;
	border-radius: 50px;
	object-fit: cover;
}


#credit {
	text-align: center;
	margin-bottom: 20px;
}



#form_admin {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	gap: 20px;
}


#form_admin > input {
	font-family: 'gfont_rubik_regular', sans-serif;
	color: #333;
	font-size: 1.2rem;
	padding: 0.7rem 2rem;
	background-color: rgb(241, 240, 240);
	border: none;
	width: 250px;
	display: block;
	border-radius: 10px;
	border-style: none;
	transition: all 0.4s;
 }




 #form_admin > button {
	border-radius: 10px;
	font-size: 1.2rem;
	border-style: none;
	box-shadow: 0px 5px 10px #8b8b8b;
	box-sizing: border-box;
	padding: 1rem 1rem 1rem 1rem;
	transition: 0.2s ease-in-out;
	background-color: #409342;
 }


 .buttonAccessible:hover {
	transform: scale(1.1);
 }


 .buttonAccessible:active {
	transform: scale(0.90);
	transition: 0.1s;
 }

