#container_sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid !important;
    box-sizing: border-box;
    border: 2px;
    background-color: white;
    border-radius: 10px;
    gap: 10px;
}


.elementSidebar {
    width: 100%;
}
