#container_topbar {
    width: 100%;
		height: 100%;
    max-height: 100%;
		position: relative;
    display: flex;
    flex-direction: row;
}

#container_topbar > div {
    flex-grow: 1;
    width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}



.wrapperButtonTopbar > button {
    height: 70%;
    width: fit-content;
		margin-top: 0.5rem;
    padding: 0.2rem 2rem 0.2rem 2rem;
    border-radius: 10px;
    border-style: none;
    box-sizing: content-box;
    transition: 0.25s ease-in-out;
		font-family: 'gfont_rubik_bold', sans-serif;
		font-size: 30px;
		line-height: 24px;
		color: #000000af;
}

.wrapperButtonTopbar > button:hover {
    transform: scale(1.15);
    transition: 0.2s;
}

.wrapperButtonTopbar > button:active {
    transform: scale(0.95);
    transition: 0.2s;
}

.buttonTopbarSelected {
	padding: 0.8rem 4rem 0.8rem 4rem !important;
	margin-top: 3.2rem !important;
}


@media (max-width: 950px) {
	.wrapperButtonTopbar > button {
		font-size: 20px;
		padding: 0.1rem 1rem 0.1rem 1rem;
	}

	.buttonTopbarSelected {
		padding: 0.4rem 2rem 0.4rem 2rem !important;
		margin-top: 1.6rem !important;
	}
}
